<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/client/css/admin.css">
	<script src="/client/js/util/main.js"></script>
</head>
<body>
	<header class="clearfix">
		<nav>
			<ul class="clearfix">
				<li><a href="/admin/heroes">Heroes</a></li>
				<li><a href="/admin/abilities">Abilities</a></li>
				<li><a href="#">Dragons</a>
					<ul>
						<li><a href="/admin/dragon-types">Dragon types</a></li>
						<li><a href="/admin/spawned-dragons">Spawned dragons</a></li>
					</ul>
				</li>
				<li><a href="/admin/map-editor">Map editor</a></li>
			</ul>
		</nav>
	</header>
	<div class="divider"></div>
	<main>
		{{{body}}}
	</main>
	<footer>
		
	</footer>
</body>
</html>