<div class="abilities-page">
	<div class="new-ability">
		<!-- <h2>Create new ability</h2> -->
		<form method="post" action="/admin/newAbility">
			<div>
				<label>Name </label>
				<input type="text" name="_name">
			</div>
			<div>
				<label>Sprite </label>
				<input type="text" name="_sprite">
			</div>
			<div>
				<label>Sound</label>
				<input type="text" name="_sound">
			</div>
			<div>
				<label>Width</label>
				<input type="number" name="_width">
			</div>
			<div>
				<label>Height</label>
				<input type="number" name="_height">
			</div>
			<div>
				<label>Damage</label>
				<input type="number" name="_damage">
			</div>
			<div>
				<label>Speed</label>
				<input type="number" name="_speed">
			</div>
			<div>
				<label>Range</label>
				<input type="number" name="_range">
			</div>
			<div>
				<label>Cooldown </label>
				<input type="number" name="_cooldown">
			</div>
			<div>
				<label>Description </label>
				<textarea name="_description" cols="25" rows="3"></textarea>
			</div>
			<div class="clearfix">
				<input type="submit" value="Create">
			</div>
		</form>
	</div>
</div>

<!-- <script src="/client/js/admin/abilities/main.js"></script> -->