<div class="dragons-page-types">
	<div id="newDragonType">
		<form method="post" action="/admin/newDragonType" class="clearfix admin-card">
			<h3><!-- Create new dragon type --></h3>
			<div class="dragon-basic-stats">
				<div>
					<label>Name</label>
					<input type="text" name="name">
				</div>
				<div>
					<label>Sprite</label>
					<input type="text" name="sprite">
				</div>
				<div>
					<label>Experience worth</label>
					<input type="number" name="experience_worth">
				</div>
				<div>
					<label>Gold worth</label>
					<input type="number" name="gold_worth">
				</div>
				<div>
					<label>Respawn timer</label>
					<input type="number" name="respawn_timer">
				</div>
			</div>
			<div class="dragon-combat-stats">
				<div>
					<label>Health</label>
					<input type="number" name="max_health">
				</div>
				<div>
					<label>A1 Damage</label>
					<input type="number" name="a1_damage">
				</div>
				<div>
					<label>A1 Speed</label>
					<input type="number" name="a1_speed">
				</div>
				<div>
					<label>A1 Cooldown</label>
					<input type="number" name="a1_cooldown">
				</div>
				<div>
					<label>A1 Range</label>
					<input type="number" name="a1_range">
				</div>
			</div>
			<div class="clearfix">
				<input type="submit" value="Create" class="btn normal">
			</div>
		</form>
	</div>
</div>

<!-- <script src="/client/js/admin/dragons/main.js"></script> -->